/* header section */

.navbar-default .navbar-brand {
   font-family: 'Poiret One', sans-serif;
   color: #F9E923;
   font-size: 2em;
   letter-spacing: 2px;
}
 

header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 75px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 6px;
  }
/*about me*/

.col-sm-4 {
	width:100%;
}
.center {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.bg-antique-white {
	background-color: antiquewzhite
}

#contact .social-buttons a {
	background-color: white;
	color: #898383;
}

#contact {
	color: white;
}

.social-buttons {
	margin-top: 40px;
}

.social-buttons li {
	margin-top: 30px;
	padding-right: 7px;
  	padding-left: 7px;
}

/*contact me*/

.contact-me {
	font-size: 24px;
	font-family: lato;
  font-weight:300;
	text-align: center;
	font-color: #fff;
	padding-top: 30px;
	letter-spacing: 2px;
}

#copyright {
  color: #939393;
  font-family: Lato, sans-serif;
  font-weight: 400; 

}

/*Generic Case Study Styles*/

#project-heading-1 {
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#project-details-box-1 {
	padding-top: 65px;
	padding-bottom: 65px;
}

.project-details {
  height: auto;
  width: 100%;
  background-color: #607286;
  color: #fff;
  margin: 0px;
  text-align: left;
}

.project-details-text {

	margin-left: 100px;
	margin-right: 100px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #607286;
  margin-top: 65px;
  margin-bottom: 65px;
  padding: 0;
}

.project-body {
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
}

.portfolio-modal h1 {
	font-family: Lato;
  font-weight: 700;
	letter-spacing: 7px;
 	font-size: 60px;
 	margin-bottom: 50px;
 	margin-top: 50px;
}

.portfolio-modal h2 {
  text-transform: none;
  font-family: Lato;
  font-weight: 400;
  text-align: left
}

.portfolio-modal h3 {
  text-transform: none;
  font-family: Lato;
  font-weight:300;
  padding-bottom: 40px;
}

.portfolio-modal p {
  text-align: left;
  font-size: 18px;
  font-family: Lato;
  font-weight:300;
  letter-spacing: .5px;
}

.full-bleed-container {
	padding: 0;
	margin: 0;
	height: 70vh;
}

/*Pulse Band Case Study Styles*/

.pulse-band-header-img {
	  background-image: url(../img/PulsebandHeaderImage.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 550px;
}

#pulseband-product-detail-img {
	width: 600px;
	margin: auto;
}

.end-of-section {
  margin-bottom: 65px;
}

.pb-mockups {
  background-color: #efefef;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-bottom: 65px;
}

.pb-image {
  padding-bottom: 60px;
}

/*GigScout Case Study Styles*/

.gig-scout-header-img {

    background-image: url(../img/GigScoutHeaderFlat.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 550px;

}

#project-heading-2 {
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#project-details-box-2 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.gs-sketch {
  padding-bottom: 45px;
}

/*Dashtag Case Study Styles*/

.dash-tag-header-img {
    background-image: url(../img/DashtagHeaderFlat.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 550px;
}

#project-heading-3 {
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#project-details-box-3 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.sketch-images {
  padding-bottom: 35px;
}

.event-image {
  padding-bottom: 30px;
}

/*CCF Case Study Styles*/

.ccf-header-img {
    background-image: url(../img/CCFnewheader.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
   -o-background-size: cover;
   height: 550px;
}

#project-heading-4 {
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#project-details-box-4{
  padding-top: 65px;
  padding-bottom: 65px;
}

.retail-before, .retail-after {
  background-color: #efefef;
  padding: 50px;
  margin-bottom: 40px;

}